<form action="/login" method="POST">
    <div class="col-md-6">
        <h1>Admin Login</h1>
    </div>

    <div class="col-md-3">
        <!--username-->
        <div class="form-group">
            <label for="inputEmail">Name</label>
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
                   value="admin@gmail.com" name="email">
        </div>
        <!--password-->
        <div class="form-group">
            <label for="inputPassword">Name</label>
            <input type="password" class="form-control" id="inputPassword" aria-describedby="emailHelp"
                   value="admin" name="password">
        </div>
        <input type="submit" value="Submit">

    </div>
</form>