<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/2.2.3/flatpickr.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/2.2.3/themes/material_blue.css" />

<!--form-->
<div class="col-md-6">
    <h1>Edit Post</h1>
    <form action="/admin/edit-post/{{this.id}}" method="POST">
        <!--name-->
        <div class="form-group">
            <label for="contestName">Contest Name</label>
            <input type="text" class="form-control" id="contestName" value="{{this.contestName}}" name="contestName">
        </div>
        <!--link-->
        <div class="form-group">
            <label for="contestLink">Contest Link</label>
            <input type="text" class="form-control" id="contestLink" value="{{this.contestLink}}" name="contestLink">
        </div>
        <!--end date-->
        <div class="form-group">
            <label for="contestName">Contest End Date/Time</label>
            <input class=" form-control flatpickr" type="text" value="{{this.contestEnd}}" name="contestEnd">
        </div>
        <div class="form-group">
            <input type="submit" value="Submit">
        </div>

    </form>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/2.2.3/flatpickr.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/2.2.3/flatpickr.min.js"></script>

<script>flatpickr(".flatpickr",{
    enableTime: true
});</script>