<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/2.2.3/flatpickr.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/2.2.3/themes/material_blue.css" />

<div class="col-md-6">
    <h1>New Post</h1>
    <form action="/admin/new-post" method="POST" enctype="multipart/form-data" id="form">
        <!--name-->
        <div class="form-group">
            <label for="contestName">Contest Name</label>
            <input type="text" class="form-control" id="contestName" placeholder="Contest Name" name="contestName">
        </div>
        <!--link-->
        <div class="form-group">
            <label for="contestLink">Contest Link</label>
            <input type="text" class="form-control" id="contestLink" placeholder="Contest Link" name="contestLink">
        </div>
        <!--end date-->
        <div class="form-group">
            <label for="contestEnd">Contest End Date/Time</label>
            <input class=" form-control flatpickr" type="text" placeholder="Select Date.." name="contestEnd">
        </div>
        <!--image-->
        <input id="file" type="file" />
        <h2>Image cropper (Jcrop)</h2>
        <button id="cropbutton" type="button">Crop</button>
        <button id="scalebutton" type="button">Scale</button>
        <button id="rotatebutton" type="button">Rotate</button>
        <button id="hflipbutton" type="button">H-flip</button>
        <button id="vflipbutton" type="button">V-flip</button>
        <br>
        <div id="views"></div>
        <h2>Submit form</h2>
        <input type="submit" value="Submit" />
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/2.2.3/flatpickr.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/2.2.3/flatpickr.min.js"></script>

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

<script src="http://jcrop-cdn.tapmodo.com/v0.9.12/js/jquery.Jcrop.min.js"></script>


<script src="/javascripts/image-cropper.js"></script>

<link rel="stylesheet" href="http://jcrop-cdn.tapmodo.com/v0.9.12/css/jquery.Jcrop.min.css">


<script>flatpickr(".flatpickr",{
    enableTime: true
});</script>