
<div class="col-md-6">
    <h1>Social Media</h1>

    <h2>EdmSweep</h2>
    <p>Facebook - <a class="link" href="http://www.facebook.com/EdmSweep">www.facebook.com/EdmSweep</a></p>
    <p>Twitter - <a class="link" href="http://www.twitter.com/OGEdmSweep">www.twitter.com/OGEdmSweep</a></p>
    <p>Instagram - <a class="link" href="http://www.instagram.com/EdmSweep/">www.instagram.com/EdmSweep/</a></p>

    <h2>EdmRaves</h2>
    <p>Facebook - <a class="link" href="http://www.facebook.com/edmrave">www.facebook.com/edmrave</a></p>
    <p>Twitter - <a class="link" href="http://www.twitter.com/edmbayarea">www.twitter.com/edmbayarea</a></p>
    <p>Instagram - <a class="link" href="http://www.instagram.com/edmraves">www.instagram.com/edmraves</a></p>
</div>