.banner{
    background: transparent;
    /*background-image: url("/images/banner1.jpg");*/
    background-repeat: no-repeat;
    color: white;
    text-align:center;
    align: center;


}
.full-width-row {
    overflow-x: hidden;
}

.full-width-row > div {
    margin-left: -15px;
    margin-right: -15px;
}

@media (min-width: 721px) {
    .banner {
        background-image: url('/images/banner1.jpg');
    }
}

/* For mobile */
@media (max-width: 720px) {
    .banner {
        background-image: url('/images/banner2.jpg');
    }
}