

/*///// ///// ///// OLD ///// ///// /////*/


/*Button!!*/

.btn-1 {
    /*background: #e02c26;*/
    font-weight: 100;
    color: #fff;
}
.btn-1 svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    color: #fff;
}
.btn-1 rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    color: #fff;
}

.btn-1:hover {
    background: rgba(225, 51, 45, 0);
    font-weight: 900;
    letter-spacing: 1px;
    color: #fff;
}
.btn-1:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

/*.btn {*/
    /*color: #fff;*/
    /*cursor: pointer;*/
    /*display: block;*/
    /*font-size: 16px;*/
    /*font-weight: 400;*/
    /*line-height: 45px;*/
    /*margin: 0 auto 2em;*/
    /*max-width: 160px;*/
    /*position: relative;*/
    /*text-decoration: none;*/
    /*text-transform: uppercase;*/
    /*vertical-align: middle;*/
    /*width: 100%;*/
/*}*/

.btn:hover {
    text-decoration: none;
}
