body {
padding: 75px;
font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
color: #A3E4D7;
}

.color {
background-color: #EAEDED;
}

.link {
color: #1ABC9C;
}



.navbar-fixed-top {
text-transform: uppercase;
font-family: 'Josefin Sans', sans-serif;
font-size: 1.2em;
min-height: 65px;
padding: 0px 20px
}

.nav-hover:after {
content: '';
position: absolute;
height: 2px;
width: 100%;
left: 0;
bottom: 0;
visibility: hidden;
background-color: #A3E4D7;
-webkit-transition: all .1s ease;
transition: all 0.3s ease;
-webkit-transform: scaleX(0);
-ms-transform: scaleX(0);
transform: scaleX(0);
}

.nav-hover:hover:after {
visibility: visible;
-webkit-transform: scaleX(1);
-ms-transform: scaleX(1);
transform: scaleX(1);
}

* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

.cropit-preview {
    /* You can specify preview size in CSS */
    width: 200px;
    height: 200px;
}
#image-cropper{
    width: 200px
}

